@tailwind base;
@tailwind components;
@tailwind utilities;

/* 1. 强制隐藏所有元素的默认鼠标 (包括链接和按钮) */
* {
  cursor: none !important;
}

/* 自定义滚动条 */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #050505; }
::-webkit-scrollbar-thumb { background: #333; border-radius: 3px; }
::-webkit-scrollbar-thumb:hover { background: #7c3aed; }

@layer utilities {
  .bg-grid-pattern {
    background-size: 40px 40px;
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  }
}

body.no-scroll { overflow: hidden; }
